#main-cart {

 .cartborder{
    border-bottom: 1px solid #ececec;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(236, 236, 236);
 }
.returnarrowsize{
    width: 20px;
}

    .quantitybutton{
        width: 10px;
    justify-content: center;

    }
    .cartitemimg{
        width: 90px;
        @media (max-width: 1400px){
            width: 80px;
        }
        @media (max-width: 1200px)
{ width: 90px;
}
@media (max-width: 768px)
{
    width: 90px;
}
@media (max-width: 576px)
{
    width: 70px;
}

}
   
}