
#main-about {
    .mobile-menu {
        position: fixed;
        bottom: 0;
        padding: 10px;
        width: 100%;
        z-index: 2;
        overflow: hidden;
        box-shadow: 0 -3px 10px 0px rgb(0 0 0 / 8%);
      }
    .iconsizemobile{
      width: 20px;
    }
    
      .mobile-menu ul li {
        width: 100%;
        text-align: center;
      }
      li {
        display: inline-block;
        font-size: 14px;
      }
    
    
    .mobile-menu ul li.active::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 10px;
      bottom: -15px;
      left: 50%;
    
      background-color: #fff;
      border-radius: 100%;
    }
    
  //////////////////////////index.js/////////////////////////////

  .footercover{
   
    content: "";
  
    background-size: 	385 px 751 px;

    top: 0;
    left: 0;
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/vegetable/footer-shape.png);
    background-repeat: no-repeat;
    z-index: -1;

}
a:hover{
color: #0da487;
}
//////////////////////////Section 1/////////////////////////////

.service-contain .service-box {

display: flex;

align-items: center;
position: relative;
}
.service-box::before {
content: "";
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
width: 1px;
height: 17px;
left: -30px;
border: 1px dashed #c1c1c1;
border-top-color: rgb(193, 193, 193);
border-top-style: dashed;
border-top-width: 1px;
border-right-color: rgb(193, 193, 193);
border-right-style: dashed;
border-right-width: 1px;
border-bottom-color: rgb(193, 193, 193);
border-bottom-style: dashed;
border-bottom-width: 1px;
border-left-color: rgb(193, 193, 193);
border-left-style: dashed;
border-left-width: 1px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}

.main-footer {
border-top: 1px dashed #c1c1c1;
}
@media (max-width: 767px){
.main-footer {
border: none;
padding-top: 0;
}}
//////////////////////////Section 2/////////////////////////////

.logoo {
width: 176px;
}

svgg{
width: 18px;
height: 18px;
stroke: #4a5568;
}
.main-footer .footer-contain ul li {
display: block;

}

    .imgblog

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/2.jpg    );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
height: auto;
}

.imghoveringin:hover  {
    transform: scale(0.8); 
 }
.imgblog2

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}
.imgblog3

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}
.imgblog4

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}

   
  
    
    .title {
    margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    display: inline-block;
    position: relative;
}.title h2 {
    font-weight: 700;
    color: #222;
    position: relative;
}
h2 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin: 0;
}
span {
    display: inline-block;
}
.title p {
    line-height: 1.5;
    margin: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) 0 0;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #4a5568;
}

.category-box {
    background-color: #f8f8f8;
    margin: 0px auto;
    display: block;
   
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 0;
}



}