#main-about {
  
    .aboutimg:hover{
        transform: scale(1.08); 
    
    }
      .reviewer-profile {
            
            display: flex;
          gap: calc(12px + (19 - 12) * ((100vw - 320px) / (1920 - 320)));
            align-items: center;
        }
        //img of every col
        .trustedimg{
            width: 70px;
            height: 70px;
            -o-object-fit: contain;
            object-fit: contain;
            border-radius: 7%;
        }
        // //card height
        // .Clients-list{
        //     height: 330px;
        // }
       
            }