.App {
    font-family: sans-serif;
    text-align: center;
  }
  .card {
    max-width: 250px;
    text-align: center;
    margin: 20px;
  }
  .card-img {
    max-width: 150px;
  }
  .App-price-info {
    display: flex;
    align-items: center;
  }
  .App-price-info button {
    margin: 10px;
  }
  .card-cart {
    padding: 10px 5px 10px 5px;
  }
  .text-apl {
    margin: 10px;
  }
  .App-empty {
    text-align: center;
    margin: 15px;
    padding: 5px;
  }
  .card-text {
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 102, 0);
  }
  .card-cart {
    flex-direction: row;
    display: flex;
  }
  .card-cart img {
    max-width: 200px;
  }
  .App-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: auto;
  }
  .title {
    text-align: center;
    font-size: 32px;
  }
  .App-price {
    text-align: right;
    padding: 0px 20px 20px 0px;
  }
  