
#main-about {
    .imgblog

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/2.jpg    );
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
height: auto;
}

.imghoveringin:hover  {
    transform: scale(0.8); 
 }
.imgblog2

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}
.imgblog3

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}
.imgblog4

{
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/veg-2/blog/4.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    content: "";
    padding-top: 65%;
    width: 100%;
}

   
  
    
    .title {
    margin-bottom: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
    display: inline-block;
    position: relative;
}.title h2 {
    font-weight: 700;
    color: #222;
    position: relative;
}
h2 {
    font-size: calc(22px + (28 - 22) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    line-height: 1;
    text-transform: capitalize;
    margin: 0;
}
span {
    display: inline-block;
}
.title p {
    line-height: 1.5;
    margin: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) 0 0;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
    color: #4a5568;
}

.category-box {
    background-color: #f8f8f8;
    margin: 0px auto;
    display: block;
   
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 0;
}



}