
#main-home {
.coverimageonefifty{

    object-fit: contain;
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/9.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    object-fit: cover;
    object-position: center ;
}




.coverimagetwofifty{


object-fit: contain;
background-image: url(  https://themes.pixelstrap.com/fastkart/assets/images/vegetable/banner/10.jpg
);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
display: block;
object-fit: cover;
object-position: center ;

}

}