
#main-home {
  .buttonclass {
    width: 100%;

    color: #4a5568;
    border-radius: 50px;
    border: none;
    font-size: 17px;
    font-weight: 500;
  }
  .plusbutton {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50px;
  }
}
