#main-home {
    // for the first 4 stars icons
.rating li .feather.fill {
    fill: #ffb321;
    width: 13px;
    height: 13px;
    stroke: #ffb321;
  
} 

    // for the last star icon

.rating li .feather {
    width: 13px;
    height: 13px;
    stroke: #ffb321;
}
}