#main-about {
    //////////////////////////////////Start of Slider scss
    .slider__controls {
        position: relative;
        z-index: 12;
    
      & .slider__pagination {
          text-align: center;
          margin-top: 1px;
    
          & .swiper-pagination-bullet {
          width: 13px;
          height: 10px;
          display: inline-block;
          background: #0da487;
          opacity: .2;
          margin: 0 5px;
          -webkit-border-radius: 20px;
                  border-radius: 20px;
          -webkit-transition: opacity .5s, background-color .5s, width .5s;
          -o-transition: opacity .5s, background-color .5s, width .5s;
          transition: opacity .5s, background-color .5s, width .5s;
          -webkit-transition-delay: .5s, .5s, 0s;
               -o-transition-delay: .5s, .5s, 0s;
                  transition-delay: .5s, .5s, 0s;
          }        
      }
        
      & .swiper-pagination-clickable .swiper-pagination-bullet {
          cursor: pointer;
      }
    
      & .slider__pagination .swiper-pagination-bullet-active {
          opacity: 1;
          background:#0da487;
          width: 50px;
          -webkit-transition-delay: 0s;
               -o-transition-delay: 0s;
                  transition-delay: 0s;
      }
   
    }
    //////////////////////////////////End of Slider scss

    //img of every col
    .trustedimg{
        width: 54px;
        height: 70px;
        -o-object-fit: contain;
        object-fit: contain;
    }
  //h2 text opacity & color
     .clint-contain h2 {
        position: absolute;
        top: calc(14px + (1 - 14) * ((100vw - 320px) / (1920 - 320)));
        right: calc(24px + (2 - 24) * ((100vw - 320px) / (1920 - 320)));
        color: #4a5568;
        opacity: .05;
        font-size: calc(52px + (70 - 52) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 800;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    //card height
    .product-list{
        height: 220px;
    }
        }