#main-about {
    // first img
 .fresh-image-2 {
    border-radius: 0 50px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/inner-page/about-us/1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;

}
//hovering for first img
.fresh-image-2:hover  {
    transform: scale(1.01); 
  }

 // 2nd img
 .fresh-image {
    margin-top: 30px;
    border-radius: 50px 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-image: url(https://themes.pixelstrap.com/fastkart/assets/images/inner-page/about-us/2.jpg);
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
display: block;
}
//hovering for 2nd img
.fresh-image:hover  {
    transform: scale(1.01); 
  }
  //for 2 imgs
  .bg-size::before {
    content: "";
    padding-top: 148%;
    display: block;
}
//for 2nd col
 .fresh-contain {
    height: 100%;
}
.p-center-left {
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
//for delivery-list h6 text
h6 {
    line-height: 1.2;
    margin: 0;
    font-weight: 400;
}
//for delivery-list
 .delivery-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: calc(11px + (20 - 11) * ((100vw - 320px) / (1920 - 320)));
}
 .delivery-list ul li {
    width: 100%;
}

 .delivery-box li .delivery-box {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 0;
}
 .delivery-box li .delivery-box .delivery-icon img {
    width: 30px;
    height: auto;
}
.review-title h2 {
    font-size: calc(28px + (40 - 28) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(12px + (30 - 12) * ((100vw - 320px) / (1920 - 320)));
    width: 80%;
    line-height: 1.3;
    position: relative;
}
}